install
public/vendor
system/config/custom/*.local.php
system/config/packages/*
!system/config/packages/.gitkeep
system/data/cache/*
!system/data/cache/.gitkeep
system/data/logs/*
!system/data/logs/.gitkeep
system/vendor
